<div class="card">
    <div class="card-body">
        <h1>Texto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quibusdam deleniti sapiente et incidunt odit eius nulla ipsa. Omnis corrupti doloremque voluptatum nesciunt sunt quos natus obcaecati asperiores sed ab.</p>
    </div>
</div>