<div class="jumbotron mt-4">
    <h1 class="display">Node.js/MongoDB Notes App</h1>
    <p class="lead">Bla bla</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime facilis quidem facere, beatae harum quia doloribus libero recusandae sapiente voluptates fugit excepturi exercitationem ad deleniti architecto, eum error quis reiciendis!</p>
    <a href="#" class="btn btn-primary btn-lg">Boton</a>
</div>