<div class="jumbotron mt-4">
    <h1 class="display">¡Bienvenido!</h1>
    <p class="lead">"Notes" es una aplicación que te permitirá tomar notas rápidas, editarlas y borrarlas.</p>

    <hr class="my-4">
    <p class="lead">Utiliza tu cuenta para registrarte y ya podés disfrutarla :)</p>
    <p>Desarrollada con Node.JS, mongoDB</p>
</div>